@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none !important;
}
@keyframes move {
  0% {
    opacity: 0;
    left: 70px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.navbar-inverse {
  height: 40px;
  font-size: 12px;
  color: #b0b0b0;
  background: #333;
}
.navbar-inverse > .nav {
  margin: 0 auto;
  width: 1140px;
}
.navbar-inverse > .nav > .nav-left {
  float: left;
}
.navbar-inverse > .nav > .nav-left > a {
  line-height: 40px;
  cursor: pointer;
  color: #b0b0b0;
  text-decoration: none;
}
.navbar-inverse > .nav > .nav-left > .sep {
  font-family: sans-serif;
  margin: 0 6px;
  color: #424242;
}
.navbar-inverse > .nav > .nav-car {
  float: right;
  height: 40px;
  margin-left: 15px;
  padding: 0 19px;
  background: #424242;
  position: relative;
}
.navbar-inverse > .nav > .nav-car > a {
  color: #b0b0b0;
  line-height: 40px;
  text-decoration: none;
  cursor: pointer;
}
.navbar-inverse > .nav > .nav-car > a img {
  width: 20px;
  position: relative;
  top: -3px;
}
.navbar-inverse > .nav > .reg {
  height: 40px;
  float: right;
}
.navbar-inverse > .nav > .reg > a {
  color: #b0b0b0;
  line-height: 40px;
  text-decoration: none;
}
.navbar-inverse > .nav > .reg > .sep {
  font-family: sans-serif;
  margin: 0 6px;
  color: #424242;
}
#navmain {
  z-index: 100;
  position: sticky;
  top: 0px;
  width: 1140px;
  height: 50px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  background: #f4f4f4;
  font-size: 14px;
  text-align: center;
}
#navmain a {
  color: #767676;
  text-decoration: none;
}
#navmain > .logo {
  float: left;
  padding: 0 15px;
  width: 161px;
  line-height: 50px;
}
#navmain > .logo > a > img {
  width: 112px;
}
#navmain > .search-wrap {
  display: none;
  position: absolute;
  top: 0;
  left: 19%;
  width: 890px;
}
#navmain > .search-wrap > form {
  display: block;
  height: 50px;
  line-height: 50px;
}
#navmain > .search-wrap > form > .search-main {
  opacity: 0;
  left: 70px;
  position: relative;
  animation: move 0.3s forwards;
}
#navmain > .search-wrap > form > .search-main > .search {
  height: 30px;
  line-height: 30px;
  width: 100%;
  padding-left: 20px;
  border: none;
  background: #f4f4f4;
}
#navmain > .search-wrap > form > .search-main > .search-search {
  position: absolute;
  top: 10px;
  height: 30px;
  line-height: 30px;
  border: none;
  background: none;
}
#navmain > .search-wrap > form > .search-main > .search-close {
  position: absolute;
  background: none;
  border: none;
  top: 10px;
  height: 30px;
  line-height: 30px;
  width: 30px;
  right: -30px;
  color: #3a3a3a;
}
#navmain > .search-wrap > form > .search-main > .search-close > span:last-child {
  margin-left: -6px;
}
#navmain > .search-wrap > form > .search-content {
  width: 100%;
  background: #fff;
  height: 240px;
  padding: 15px 10px;
}
#navmain > .search-wrap > form > .search-content > ul {
  padding: 0;
  margin: 0;
  height: 210px;
  position: relative;
}
#navmain > .search-wrap > form > .search-content > ul > li:nth-child(1) {
  animation-delay: 0.2s;
}
#navmain > .search-wrap > form > .search-content > ul > li:nth-child(2) {
  animation-delay: 0.3s;
}
#navmain > .search-wrap > form > .search-content > ul > li:nth-child(3) {
  animation-delay: 0.4s;
}
#navmain > .search-wrap > form > .search-content > ul > li:nth-child(4) {
  animation-delay: 0.5s;
}
#navmain > .search-wrap > form > .search-content > ul > li:nth-child(5) {
  animation-delay: 0.6s;
}
#navmain > .search-wrap > form > .search-content > ul > li:nth-child(6) {
  animation-delay: 0.7s;
}
#navmain > .search-wrap > form > .search-content > ul > li:nth-child(7) {
  animation-delay: 0.8s;
}
#navmain > .search-wrap > form > .search-content > ul > li {
  opacity: 0;
  left: 70px;
  cursor: pointer;
  animation: move 0.3s forwards;
  position: relative;
  height: 30px;
  line-height: 30px;
  text-align: left;
  padding-left: 30px;
}
#navmain > .search-wrap > form > .search-content > ul > li:hover {
  background: #f2f2f2;
}
#navmain > .search-wrap > form > .search-content > ul > li:hover > a {
  color: #0070c9;
}
#navmain > .nav-nav > .nav-title {
  width: 72px;
  float: left;
}
#navmain > .nav-nav > .nav-title > a {
  line-height: 50px;
}
#navmain > .nav-nav > .nav-title > .item {
  display: none;
  width: 1140px;
  height: 310px;
  padding-top: 20px;
  background: #fff;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  position: absolute;
  left: 0;
}
#navmain > .nav-nav > .nav-title > .item > .contanier-fluid > .col-xs-2 {
  padding: 0 15px;
}
#navmain > .nav-nav > .nav-title > .item > .contanier-fluid > .col-xs-2 img {
  width: 100%;
}
#navmain > .nav-nav > .nav-title > .item > .contanier-fluid > .col-xs-2 > .ellipsis {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
}
#navmain > .nav-nav > .nav-title > .item > .contanier-fluid > .col-xs-2 > .text1 {
  font-size: 16px;
  line-height: 30px;
  color: #222;
}
#navmain > .nav-nav > .nav-title > .item > .contanier-fluid > .col-xs-2 > .text2 {
  line-height: 30px;
  color: #989898;
}
#navmain > .nav-nav > .nav-title > .item > .contanier-fluid > .col-xs-2 > p {
  color: #ed1c24;
  line-height: 30px;
}
#navmain > .nav-nav > .nav-title:hover {
  background: #fff;
}
#navmain > .nav-nav > .nav-title:hover a {
  color: #ed1c24;
}
#navmain > .nav-nav > .nav-title:hover > .item {
  display: block;
}
.content-main {
  margin: 50px auto;
  padding-top: 50px;
  width: 1140px;
  padding: 0 15px;
}
.content-main > .intr-nav {
  width: 1140px;
  margin: 0 auto;
  height: 60px;
  line-height: 60px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -570px;
  z-index: 999;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
  padding: 0 15px;
}
.content-main > .intr-nav > .name {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content-main > .intr-nav > div > div {
  padding: 0;
}
.content-main > .intr-nav > div > div > a {
  background: #ed1c24;
  border: 0;
  width: 100%;
  font-size: 16px;
}
.content-main > .intr-nav > div > ul > li {
  height: 60px;
  text-align: center;
  padding: 0;
  line-height: 56px;
}
.content-main > .intr-nav > div > ul > li.active {
  border-bottom: 2px solid #ed1c24;
}
.content-main > .intr-nav > div > ul > li.active > a {
  color: #ed1c24;
}
.content-main > .intr-nav > div > ul > li > a {
  color: #767676;
  font-size: 16px;
}
.content-main > .content-title {
  margin-bottom: 30px;
}
.content-main > .content-title > .content-title-active {
  color: #777;
}
.content-main > .content-title > .content-title-active::before {
  padding: 0 5px;
  color: #ccc;
  content: ">";
}
.content-main > .content-title > li {
  display: inline-block;
}
.content-main > .content-title > li > a {
  font-size: 14px;
  color: #333;
}
.content-main > .row {
  margin: 0;
}
.content-main > .row > .col-xs-7 > ul {
  float: left;
  width: 72px;
  margin-top: 28px;
}
.content-main > .row > .col-xs-7 > ul > i {
  color: #606060;
  text-align: center;
  width: 72px;
  cursor: pointer;
  font-size: 24px;
}
.content-main > .row > .col-xs-7 > ul > li {
  width: 72px;
  height: 72px;
  border: 1px solid #e3e3e3;
  padding: 2px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-main > .row > .col-xs-7 > ul > li > img {
  width: 64px;
  height: 64px;
  display: block;
  cursor: pointer;
}
.content-main > .row > .col-xs-7 > .pic-gb {
  position: relative;
  overflow: hidden;
  float: right;
  width: 540px;
  height: 540px;
  border: 1px solid #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-main > .row > .col-xs-7 > .pic-gb > img:first-child {
  height: 530px;
}
.content-main > .row > .col-xs-7 > .pic-gb > img:last-child {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 940px;
  height: 1112px;
  border: none;
}
.content-main > .row > .col-xs-5 > h3 {
  margin-top: 0;
  font-size: 20px;
  font-weight: 600;
}
.content-main > .row > .col-xs-5 > .price > p {
  color: #ed1c24;
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
}
.content-main > .row > .col-xs-5 > .price > p > span {
  text-decoration: line-through;
  color: #b0b0b0;
  font-weight: normal;
  font-size: 14px;
}
.content-main > .row > .col-xs-5 > .price > a {
  position: relative;
  margin-top: 7px;
  float: right;
  margin-right: 35px;
  color: #767676;
}
.content-main > .row > .col-xs-5 > .price > a:hover > img {
  display: block;
}
.content-main > .row > .col-xs-5 > .price > a > span > i {
  margin-right: 5px;
}
.content-main > .row > .col-xs-5 > .price > a > img {
  position: absolute;
  top: 23px;
  left: -25px;
  z-index: 2;
  max-width: 120px;
  display: none;
}
.content-main > .row > .col-xs-5 > .addressWrap {
  padding: 15px 0;
  margin: 35px 0;
}
.content-main > .row > .col-xs-5 > .addressWrap > div {
  display: inline-block;
  margin: 0 10px;
}
.content-main > .row > .col-xs-5 > .addressWrap > .address-info > span {
  margin-right: 10px;
}
.content-main > .row > .col-xs-5 > .addressWrap > .choose > .stock {
  margin-left: 10px;
  font-weight: 600;
}
.content-main > .row > .col-xs-5 > .num {
  width: 160px;
  height: 25px;
  margin-bottom: 30px;
}
.content-main > .row > .col-xs-5 > .num > p {
  width: 45px;
  text-align: left;
  line-height: 15px;
  font-weight: 700;
  display: inline-block;
  float: left;
}
.content-main > .row > .col-xs-5 > .num > div {
  float: left;
}
.content-main > .row > .col-xs-5 > .num > div > button {
  margin-right: -1px;
  padding: 0;
  width: 23px;
  height: 25px;
  line-height: 4px;
  margin-top: -4px;
  border-color: #ddd;
  font-size: 24px;
  padding-bottom: 3px;
  outline: 0;
  float: left;
  border-radius: 0;
}
.content-main > .row > .col-xs-5 > .num > div > .num-input {
  height: 25px;
  width: 70px;
  border: 1px solid #ddd;
  margin-top: -4px;
  outline: 0;
  text-align: center;
  float: left;
}
.content-main > .row > .col-xs-5 > .shopcar {
  padding: 15px 0;
}
.content-main > .row > .col-xs-5 > .shopcar > a {
  background-color: #ed1c24;
  display: inline-block;
  margin-right: 20px;
  width: 190px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  font-size: 16px;
  border-radius: 0;
}
.content-main > .row > .col-xs-5 > .shopcar > a:last-child {
  background-color: #ff9f00;
}
.content-main > .content-intr > .content-list {
  margin-top: 60px;
  border: 1px solid #e6e6e6;
}
.content-main > .content-intr > .content-list > ul {
  width: 665px;
  border: 0;
  margin: 0 auto;
}
.content-main > .content-intr > .content-list > ul > li {
  width: 130px;
  text-align: center;
  background: 0 0;
}
.content-main > .content-intr > .content-list > ul > li.active {
  border-bottom: 2px solid #ed1c24;
}
.content-main > .content-intr > .content-list > ul > li.active > a {
  color: #000;
}
.content-main > .content-intr > .content-list > ul > li > a {
  color: #767676;
  border: 0;
  width: 130px;
  background: 0;
}
.content-main > .content-intr > .content-list > ul > li > a:hover {
  color: #000;
}
.content-main > .content-intr > .content-list > .tab-content {
  border: 1px solid #e6e6e6;
  border-top: 0;
}
.content-main > .content-intr > .content-list > .tab-content > #intr {
  padding: 15px;
  overflow: hidden;
}
.content-main > .content-intr > .content-list > .tab-content > #intr > p {
  margin: 0 0 10px;
}
.content-main > .content-intr > .content-list > .tab-content > #intr > p > img {
  width: 100%;
}
.content-main > .content-intr > .content-list > .tab-content p.pro-font {
  border-bottom: 1px solid #ddd;
  font-size: 22px;
  padding-bottom: 10px;
}
.content-main > .content-intr > .content-list > .tab-content > #params {
  padding: 0 15px;
}
.content-main > .content-intr > .content-list > .tab-content > #comment {
  padding: 15px;
}
.content-main > .content-intr > .content-list > .tab-content > #comment > .comment-list {
  border: 1px solid #ccc;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 12px;
  color: #666;
  margin-top: 20px;
  border-radius: 3px;
  cursor: pointer;
  background: #f8f8f8;
}
.content-main > .content-intr > .content-list > .tab-content > #comment > .comment-list:hover {
  border-color: #000;
}
.content-main > .content-intr > .content-list > .tab-content > #service {
  padding: 20px;
}
.content-main > .content-intr > .content-list > .tab-content > #service > div {
  line-height: 26px;
}
.content-main > .content-intr > .content-list > .tab-content > #zixun {
  border-top: 1px solid #ddd;
}
.content-main > .content-intr > .content-list > .tab-content > #zixun > .want {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}
.content-main > .content-intr > .content-list > .tab-content > #zixun > .want > .yao {
  height: 40px;
  width: 80px;
  background: #ed1c24;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  color: #fff;
}
.content-main > .content-intr > .content-list > .tab-content > #zixun > .zixun-list {
  padding: 20px;
}
.content-main > .content-intr > .content-list > .tab-content > #zixun > .zixun-list > ul > li.active {
  padding: 0 5px;
  cursor: pointer;
}
.content-main > .content-intr > .content-list > .tab-content > #zixun > .zixun-list > ul > li.active.active {
  background: #ed1c24;
  color: #fff;
}
.content-main > .content-intr > .content-list > .tab-content > #zixun > .pub {
  border-top: 1px solid #ddd;
}
.content-main > .content-intr > .content-list > .tab-content > #zixun > .pub > h5 {
  border-bottom: 1px solid #ddd;
  line-height: 63px;
  text-align: center;
  font-size: 20px;
}
.content-main > .content-intr > .content-list > .tab-content > #zixun > .pub > form > .pub-list {
  padding: 20px;
}
.content-main > .content-intr > .content-list > .tab-content > #zixun > .pub > form > .pub-list > .check > label {
  font-weight: 500;
  margin-left: 3px;
}
.content-main > .content-intr > .content-list > .tab-content > #zixun > .pub > form > .pub-list > .check > label:first-child {
  margin-right: 10px;
}
.content-main > .content-intr > .content-list > .tab-content > #zixun > .pub > form > .pub-list > .pub-text {
  padding-right: 200px;
  margin-top: 20px;
}
.content-main > .content-intr > .content-list > .tab-content > #zixun > .pub > form > .pub-list > .pub-text > textarea {
  width: 100%;
  height: 180px;
  color: #666;
  border-color: #ddd;
  resize: none;
}
.content-main > .content-intr > .content-list > .tab-content > #zixun > .pub > form > .pub-list > .pub-text > .num {
  text-align: right;
  color: #999;
}
.content-main > .content-intr > .content-list > .tab-content > #zixun > .pub > form > .pub-list > .pub-phone {
  margin-bottom: 20px;
  color: #666;
}
.content-main > .content-intr > .content-list > .tab-content > #zixun > .pub > form > .pub-list > .pub-phone > input {
  margin-right: 10px;
}
.content-main > .content-intr > .content-list > .tab-content > #zixun > .pub > form > .pub-list > .pub-phone > img {
  height: 20px;
  background: red;
  display: inline-block;
  width: 64px;
}
.content-main > .content-intr > .content-list > .tab-content > #zixun > .pub > form > .pub-list > .btn {
  height: 40px;
  width: 80px;
  background: #ed1c24;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  color: #fff;
  padding: 0;
}
.help-wrap {
  height: 535px;
  width: 1140px;
  margin: 0 auto;
}
.help-wrap > .footer {
  padding: 40px 0 20px 0;
  border-bottom: 1px solid lightgray;
  overflow: hidden;
  display: block;
  width: 1100px;
  margin: 0 auto;
}
.help-wrap > .footer > li {
  float: left;
  width: 220px;
  height: 54px;
  padding-left: 35px;
  color: #b2b2b2;
  font-weight: bold;
}
.help-wrap > .footer > li > i {
  display: inline-block;
  height: 54px;
  line-height: 54px;
  font-size: 22px;
  vertical-align: middle;
}
.help-wrap > .footer > li > div {
  vertical-align: middle;
  display: inline-block;
  margin-left: 10px;
}
.help-wrap > .footer > li > div > h4 {
  font-size: 18px;
  margin-bottom: 5px;
}
.help-wrap > .footer > li > div > span {
  font-size: 12px;
}
.help-wrap > .footer-links {
  height: 421px;
  padding-top: 50px;
}
.help-wrap > .footer-links > dl {
  width: 140px;
  font-size: 14px;
  float: left;
}
.help-wrap > .footer-links > dl > dt {
  height: 35px;
  line-height: 35px;
  color: #333;
  font-weight: 700;
  font-size: 14px;
}
.help-wrap > .footer-links > dl > dd {
  height: 35px;
  line-height: 35px;
  position: relative;
}
.help-wrap > .footer-links > dl > dd:hover img {
  display: block;
}
.help-wrap > .footer-links > dl > dd > a {
  color: #767676;
  font-size: 12px;
}
.help-wrap > .footer-links > dl > dd > a:hover {
  color: red;
}
.help-wrap > .footer-links > dl > dd > img {
  position: absolute;
  top: 50%;
  left: 50px;
  margin-top: -45px;
  width: 90px;
  display: none;
}
.help-wrap > .footer-links > .tel {
  width: 250px;
  height: 125px;
  float: right;
  border-left: 1px solid #eaeaea;
  text-align: center;
}
.help-wrap > .footer-links > .tel > p {
  color: #6f6c71;
  font-weight: 600;
}
.help-wrap > .footer-links > .tel > span {
  color: #ff5d59;
  font-size: 26px;
  display: block;
  height: 50px;
  line-height: 50px;
}
.help-wrap > .footer-links > .tel > a {
  display: inline-block;
  width: 90px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ff5d59;
  color: #ff5d59;
  font-size: 12px;
}
.bottom {
  background-color: #333;
  padding: 0 100px;
}
.bottom > .bottom-wrap {
  height: 100px;
}
.bottom > .bottom-wrap > .for-logo {
  height: 100px;
  float: left;
}
.bottom > .bottom-wrap > .for-logo div {
  width: 0;
  height: 100px;
  vertical-align: middle;
  display: inline-block;
}
.bottom > .bottom-wrap > .for-logo > img {
  vertical-align: middle;
  display: inline-block;
  width: 155px;
  height: 25px;
}
.bottom > .bottom-wrap > .for-link {
  height: 100px;
  line-height: 100px;
  float: right;
  font-size: 12px;
}
.bottom > .bottom-wrap > .for-link > * {
  float: left;
  color: #666;
}
.bottom > .bottom-wrap > .for-link > ul > * {
  float: left;
  margin-left: 3px;
}
.bottom > .bottom-wrap > .for-link > ul > * > a {
  color: #666;
}
.bottom > .bottom-wrap > .for-link > ul a:hover {
  color: white;
}
.tool {
  position: fixed;
  bottom: 150px;
  right: 0;
}
.tool > ul > li {
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  border: 1px solid #bcbcbc;
  margin: -1px 0 -1px 0;
  background: #fff;
}
.tool > ul > li:hover {
  line-height: 13px;
  padding: 7px 3px;
  font-size: 12px;
  background: #ed1c24;
}
.tool > ul > li:hover > a > span:last-child {
  display: inline;
  color: #fff;
}
.tool > ul > li:hover > a > span:first-child {
  display: none;
}
.tool > ul > li > a {
  color: #767676;
}
.tool > ul > li > a > span:last-child {
  display: none;
}
.tool > ul > li > a > span:first-child {
  font-size: 20px;
}
.tool > ul .qs > span:first-child {
  display: inline-block;
  background: url(../img/qs.jpg) no-repeat;
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
  margin-top: 8px;
}
.tool > ul > li:last-child {
  display: none;
}
